* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    color: #2d2729;

    /* animation-name: animation;
    animation-duration: 3s; */
}

.container {
    padding: 0 16.6%;
}

.title {
    padding: 64px 0 16px 0;
    font-weight: 700;
    font-size: 50px;
}

.input-color {
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 50px;
    display: block;
}

.search-item {
    padding: 8px;
    margin: 0 4px;
    display: inline-block;
    font-weight: 700;
    text-decoration: none;
    color: #2d2729;
    background-color: #f5f5f5;
    border-radius: 50px;
    font-size: 25px;
    cursor: pointer;
}

.search-item:hover {
    transform: scale(1.1);
}

@keyframes animation {
    0%     {opacity: 0;}
    100.0%  {opacity: 1;}
}